* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  scrollbar-gutter: stable;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.burger:after, .burger:before, .burger span {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #fabf6b;
  width: 40px;
  height: 3px;
  border-radius: 5px;
}

@media (max-width: 1024.9px) {
  .burger {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
  }
}
.burger span {
  margin-top: -1.5px;
}
.burger:before {
  content: "";
  margin-top: -16.5px;
}
.burger:after {
  content: "";
  margin-top: 13.5px;
}
@media (min-width: 1024.9px) {
  .burger {
    display: none;
  }
}

.translate-center span {
  -webkit-transition: 0.2s ease-in-out 0.2s;
  transition: 0.2s ease-in-out 0.2s;
}
.translate-center:before, .translate-center:after {
  -webkit-transition: margin 0.2s ease-in-out 0.2s, -webkit-transform 0.2s ease-in-out 0s;
  transition: margin 0.2s ease-in-out 0.2s, -webkit-transform 0.2s ease-in-out 0s;
  transition: margin 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0s;
  transition: margin 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0s, -webkit-transform 0.2s ease-in-out 0s;
}
.translate-center.active span {
  background-color: rgba(250, 191, 107, 0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.translate-center.active:before, .translate-center.active:after {
  margin-top: 0;
  -webkit-transition-delay: 0s, 0.25s, 0.25s;
          transition-delay: 0s, 0.25s, 0.25s;
}
.translate-center.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.translate-center.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.button {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  outline: none;
  cursor: pointer;
  border-radius: 24px;
  padding: 0.875rem;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: #1f1f1f;
  background-color: #fabf6b;
  font-size: inherit;
}
.button::after, .button::before {
  content: "";
}

.waves__blobs {
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1;
  border-radius: 24px;
}
.waves__blobs span {
  background-color: #61380a;
  width: 34%;
  height: 110%;
  border-radius: 100%;
  position: absolute;
  -webkit-transform: scale(1.4) translateY(125%) translateZ(0);
          transform: scale(1.4) translateY(125%) translateZ(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.waves__blobs span:nth-child(1) {
  left: -5%;
}
.waves__blobs span:nth-child(2) {
  left: 30%;
  -webkit-transition-delay: 60ms;
          transition-delay: 60ms;
}
.waves__blobs span:nth-child(3) {
  left: 66%;
  -webkit-transition-delay: 25ms;
          transition-delay: 25ms;
}
@media (hover: hover) and (pointer: fine) {
  .waves:hover, .waves:focus-within {
    color: #fff;
  }
}
@media (hover: none) and (pointer: coarse) {
  .waves:active, .waves:focus, .waves:focus-within {
    color: #fff;
  }
}
@media (hover: hover) and (pointer: fine) {
  .waves:hover .waves__blobs span, .waves:focus-within .waves__blobs span {
    -webkit-transform: scale(1.5) translateY(0) translateZ(0);
            transform: scale(1.5) translateY(0) translateZ(0);
  }
}
@media (hover: none) and (pointer: coarse) {
  .waves:active .waves__blobs span, .waves:focus .waves__blobs span, .waves:focus-within .waves__blobs span {
    -webkit-transform: scale(1.5) translateY(0) translateZ(0);
            transform: scale(1.5) translateY(0) translateZ(0);
  }
}

.waves--white {
  background-color: transparent;
  color: #fff;
}

.footer {
  background-color: #61380a;
  position: relative;
  padding-top: 80px;
}
@media (max-width: 1366px) {
  .footer {
    padding-top: calc(30px + (50) * (100vw - 320px) / (1046));
  }
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.footer__content p,
.footer__content a,
.footer__content h3,
.footer__content h4 {
  color: #fff;
}
.footer__content {
  padding-block: 80px;
}
@media (max-width: 1366px) {
  .footer__content {
    padding-block: calc(27.3333333333px + (52.6666666667) * (100vw - 320px) / (1046));
  }
}
.footer__logo-block {
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
}
.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
}
.footer__text p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 157.142857%; /* 22px/14 */
}

.footer-links {
  max-width: 332px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-links__title {
  font-weight: bold;
  margin-bottom: 0.625rem;
  font-size: 1.625rem;
}
@media (max-width: 1366px) {
  .footer-links__title {
    font-size: calc(1.125rem + (0.5) * (100vw - 20rem) / (65.375));
  }
}
.footer-links__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  row-gap: 1.375rem;
}
@media (max-width: 1366px) {
  .footer-links__items {
    row-gap: calc(0.625rem + (0.75) * (100vw - 20rem) / (65.375));
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
}
@media (max-width: 1366px) {
  .social-list {
    -webkit-column-gap: calc(10px + (12) * (100vw - 320px) / (1046));
       -moz-column-gap: calc(10px + (12) * (100vw - 320px) / (1046));
            column-gap: calc(10px + (12) * (100vw - 320px) / (1046));
  }
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 50;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding-block: 20px;
}
@media (max-width: 1366px) {
  .header__content {
    padding-block: calc(5px + (15) * (100vw - 320px) / (1046));
  }
}
.header__logo {
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  column-gap: 35px;
}
@media (max-width: 1366px) {
  .header__buttons {
    -webkit-column-gap: calc(10px + (25) * (100vw - 320px) / (1046));
       -moz-column-gap: calc(10px + (25) * (100vw - 320px) / (1046));
            column-gap: calc(10px + (25) * (100vw - 320px) / (1046));
  }
}

.header.scrolling {
  background: rgba(79, 79, 84, 0.2);
  backdrop-filter: blur(18px);
}

.header.hidden {
  opacity: 0;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
}

.link {
  position: relative;
  top: 0;
  left: 0;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: wrap;
  font-size: inherit;
}

.neon-underline {
  --before-height: 2px;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: color;
  transition-property: color;
}
.neon-underline::before, .neon-underline::after {
  content: "";
  pointer-events: none;
  left: 0px;
  bottom: -4px;
  position: absolute;
  width: 0%;
  border-radius: 5px;
  height: var(--before-height);
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-property: width, left;
  transition-property: width, left;
}
.neon-underline::after {
  background-color: #fabf6b;
}
.neon-underline::before {
  background-color: #49ff01;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
@media (hover: hover) and (pointer: fine) {
  .neon-underline:hover, .neon-underline:focus-within {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    background: -webkit-gradient(linear, left bottom, left top, from(#1f1f1f), color-stop(70%, #ffdc9c), color-stop(99%, #fabf6b));
    background: linear-gradient(0, #1f1f1f, #ffdc9c 70%, #fabf6b 99%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}
@media (hover: none) and (pointer: coarse) {
  .neon-underline:active, .neon-underline:focus, .neon-underline:focus-within {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    background: -webkit-gradient(linear, left bottom, left top, from(#1f1f1f), color-stop(70%, #ffdc9c), color-stop(99%, #fabf6b));
    background: linear-gradient(0, #1f1f1f, #ffdc9c 70%, #fabf6b 99%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}
@media (hover: hover) and (pointer: fine) {
  .neon-underline:hover::after, .neon-underline:focus-within::after {
    width: 100%;
    left: 0px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .neon-underline:active::after, .neon-underline:focus::after, .neon-underline:focus-within::after {
    width: 100%;
    left: 0px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .neon-underline:hover::before, .neon-underline:focus-within::before {
    width: 100%;
    left: 0px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .neon-underline:active::before, .neon-underline:focus::before, .neon-underline:focus-within::before {
    width: 100%;
    left: 0px;
  }
}

.logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  overflow: hidden;
}
.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.header--logo {
  height: 46px;
  width: 135px;
}
@media (max-width: 1366px) {
  .header--logo {
    width: calc(70px + (65) * (100vw - 320px) / (1046));
  }
}

.footer--logo {
  height: 71px;
  width: 207px;
}
@media (max-width: 1366px) {
  .footer--logo {
    width: calc(102px + (105) * (100vw - 320px) / (1046));
  }
}

.menu {
  --gradient: linear-gradient(0deg, #ffb99a 0%, #ffdbc5 100%);
}
@media (max-width: 1024.9px) {
  .menu__body {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100svh;
    width: 100%;
    padding: 100px 30px 30px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background: var(--gradient);
    overflow-y: auto;
    z-index: 2;
  }
}
.menu__body::before {
  content: "";
  position: fixed;
  width: 100%;
  min-height: 80px;
  left: -100%;
  top: 0;
  backdrop-filter: blur(5px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 4;
}
@media (max-width: 1024.9px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2rem;
  }
}
@media (min-width: 1024.9px) {
  .menu__list {
    padding-block: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 1.5rem;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }
}
@media (min-width: 1024.9px) and (max-width: 1366px) {
  .menu__list {
    -webkit-column-gap: calc(30px + (30) * (100vw - 320px) / (1046));
       -moz-column-gap: calc(30px + (30) * (100vw - 320px) / (1046));
            column-gap: calc(30px + (30) * (100vw - 320px) / (1046));
  }
}
.menu__link {
  display: inline-block;
  font-weight: 500;
  color: #fff;
  font-size: 0.875rem;
}
@media (max-width: 1366px) {
  .menu__link {
    font-size: calc(1.5rem + (-0.625) * (100vw - 20rem) / (65.375));
  }
}

.menu__body.open {
  left: 0%;
}
.menu__body.open::before {
  left: 0;
}

.page {
  min-width: 320px;
  font-family: "Playfair Display", serif;
  color: #707070;
  background-color: #fff;
  font-weight: 400;
  overflow-x: clip;
  font-size: calc(0.875rem + (0.125) * (100vw - 20rem) / (27.99875));
}
@media (min-width: 767.98px) {
  .page {
    font-size: calc(1rem + (0) * (100vw - 47.99875rem) / (37.37625));
  }
}
@media (min-width: 1366px) {
  .page {
    font-size: 1rem;
  }
}

.page.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 1252px;
  margin-inline: auto;
  overflow-x: clip;
  padding-inline: 36px;
}
@media (max-width: 1366px) {
  [class*=__container] {
    padding-inline: calc(18px + (18) * (100vw - 320px) / (1046));
  }
}

.section-title {
  font-weight: 700;
  color: #61380a;
  font-size: 3.375rem;
}
@media (max-width: 1366px) {
  .section-title {
    font-size: calc(1.625rem + (1.75) * (100vw - 20rem) / (65.375));
  }
}

.section-title--white {
  color: #fff;
}

.hero {
  width: 100%;
  height: 100svh;
  overflow: hidden;
  position: relative;
}
.hero__img {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.hero__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}