@use "../utiles/index" as *;

.logo {
  flex-shrink: 0;
  display: block;
  @include ibg(contain);
}
.header--logo {
  height: 46px;
  @include adaptive-property(width, 70, 0, 135);
}
.footer--logo {
  height: 71px;
  @include adaptive-property(width, 102, 0, 207);
}
