$font-family: "Playfair Display", serif;
$text-color-main: #707070;
$text-color-olive: #61380a;
$text-color-dark: #1f1f1f;
$text-color-white: #fff;

$bg-color-main: #fff;
$bg-color-yellow: #fabf6b;
$gradient: linear-gradient(0deg, #e093a0 0%, #ecddce 100%);

$transition-duraction-long: 0.65s;
$transition-duraction: 0.3s;
$radius: 24px;

$min-width: 320;
$max-width: 1366;
$container: 1180;
$padding: 36;
$max-width-container: calc($container + ($padding * 2));

$pc: 1366;
$tablet: 991.98; // Планшети, деякі телефони в горизонтальному положенні
$mobile-l: 767.98; // Телефони L
$mobile-s: 479.98; // Телефони S
